<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6e772354d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="..//public/css/styles.css">
    <link rel="icon" href="..//public/imagenes/marcasinbajada.png">
    <link rel="stylesheet" href="normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

    <title>Legraf Artes Graficas Srl</title>
</head>

<body>
    <header>
        
    <div class="left-header">
        <a href="../views/index.html"><img src="..//public/imagenes/marca.png" alt="legraf" class="logo"></a></div>
        

    <nav class="right-header">
        <ul>
        <li><a href="../views/nosotros.html">Nosotros</a></li>
        <li><a href="../views/servicios.html">Servicios</a></li>
        <li><a href="../views/productos.html">Productos</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>
        <li><a href="https://api.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a></li>
        </ul>
    </nav>
   <div class="menu-desplegable"><i class="fa-solid fa-bars"></i></div>
</header>


<section class="firtsection">
<h1 class="entrada">La Innovación existe y nos encuentra trabajando</h1>
</section>

    <section class="secondsection">
        <div class="sec-left">
                   <img src="../public/imagenes/offset.jpg" alt="imagen2" class="imagen2">
                   
        </div>
        <div class="sec-right">

            <p class="parrafo-sec-left">Legraf Artes Graficas es una empresa ubicada en la Ciudad Autónoma de Buenos Aires,
                desde hace mas de 35 años a la fabricacion de packaging, destinada en un alto porcentaje
                al mercado farmacéutica. La confianza y continuidad en el tiempo de nuestro clientes de
                primera línea nos avala.
                Nos caracterizamos por ser una empresa dinámica, atenta a la evolución y tendencias del mercado actual.
                Legraf Artes Gráficas aporta a sus requerimientos, el conocimiento técnico y la experiencia necesaria 
                acorde a las necesidades de nuestros clientes. Contamos además con personal profesional capacitado para 
                resolver inquietudes y para desarrollar nuevos productos.
            </p>
        </div>
    </section>

    <footer>    
        <div class="redes">
        <a href="www.facebook.com/legraf.srl" ><i class="fa-brands fa-facebook"></i></a>
        <a href="www.instagram.com/legraf.srl"><i class="fa-brands fa-instagram"></i></a>
        <a href="consulta@legraf.com.ar"><i class="fa-solid fa-envelope"></i></a>
        </div>
    <br>
        <p>
            Jose Bonifacio 3847 - Capital Federal - Buenos Aires- Argentina
        </p>
    </footer>

      
    
    
    
</body>
</html>