<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6e772354d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="..//public/css/styles.css">
    <link rel="icon" href="..//public/imagenes/marcasinbajada.png">
    <link rel="stylesheet" href="normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>Servicios</title>
</head>
<header>

    <div class="left-header">
        <a href="../views/index.html"><img src="..//public/imagenes/marca.png" alt="legraf" class="logo"></a></div>

    <nav class="right-header">
        <ul>
        <li><a href="../views/nosotros.html">Nosotros</a></li>
        <li><a href="../views/servicios.html">Servicios</a></li>
        <li><a href="../views/productos.html">Productos</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>
        <li><a href="https://api.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a></li>

    </ul>
    </nav>
</header>

<body>


    <section>
    <div class="imgservicio"><img src="../public/imagenes/Captura-de-pantalla-2014-03-12-a-las-16.44.09.png" alt="imgservicio" ></div>
    </section>
<br>
<section>
<ol type="1" class="listaservicio">
    <li>Diseño y diagramación</li>
    <li>Pre-Prensa</li>
    <li>Impresión (sistema offset / tintas seguridad)</li>
    <li>Terminación (laca / barnices sectorizados)</li>
    <li>Troquelado (relieve / braile)</li>
    <li>Pegado (plegado automático / predoblado)</li>
    <li>Entrega</li>
    <li>Sistema de gestión de control de calidad</li>
</ol >
</section>

<br>
</body>


<footer>
    <div>
    <a href="www.facebook.com/legraf.srl" ><i class="fa-brands fa-facebook"></i></a>
<a href="www.instagram.com/legraf.srl"><i class="fa-brands fa-instagram"></i></a>
<a href="consulta@legraf.com.ar"><i class="fa-solid fa-envelope"></i></a>
    </div>

    <p>
        Jose Bonifacio 3847 - Capital Federal - Buenos Aires- Argentina
    </p>
</footer>



</body>
</html>